.userDiv {
    text-align: center;
}

.usernameProfile {
    margin-top: 50px;
    font-size: 70px;
    font-weight: 500;
    font-family: 'Open Sans Condensed', sans-serif;
}

.userProfilePic {
    border-radius: 50%;
}

.bioDiv {
    width: 80%;
    margin: 50px auto;
}

.followDiv {
    display: flex;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    
}

.follower {
    cursor: pointer;
    margin: 0 auto;
}

.following {
    cursor: pointer;
    margin: 0 auto;
}