.userDiv {
    text-align: center;
}

.usernameProfile {
    margin-top: 50px;
    font-size: 70px;
    font-weight: 500;
    font-family: 'Open Sans Condensed', sans-serif;
}

.userProfilePic {
    border-radius: 50%;
}

.bioDiv {
    width: 80%;
    margin: 50px auto;
}

.followDiv {
    display: flex;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    
}

.follower {
    cursor: pointer;
    margin: 0 auto;
}

.following {
    cursor: pointer;
    margin: 0 auto;
}

.hidden {
    display: none !important;
}

.show {
    display: flex !important;
}

.followerModal {
    position: absolute !important;
    width: 40%;
    background-color: rgb(240, 240, 240) !important;
    margin: 20px;
    left: 0;
    text-align: center;
}

.followingModal {
    position: absolute !important;
    width: 40%;
    background-color: rgb(211, 211, 211) !important;
    margin: 20px;
    right: 0;
    text-align: center;
}

.followers {
    display: flex;
    align-items: center;
}

.followerViewBtn {
    margin-left: 10px;
}

.following {
    display: flex;
    align-items: center;
}

.followingViewBtn {
    margin-left: 10px;
}

.unfollowingBtn {
    margin-left: 10px;
}

@media screen and (max-width: 800px) {
    .followers {
        display: block;
    }

    .following {
        display: block;
    }

    .followerViewBtn {
        margin: 5px auto;
        display: block;

    }

    .followingViewBtn {
        margin: 5px auto;
        display: block;
    }

    .unfollowingBtn {
        margin: 5px auto;
        display: block;
    }
}

.bioTextEdit {
    display: block;
    width: 80%;
    height: 200px;
    margin: 0 auto;
    border-radius: 5px;
}

.bioSaveBtn {
    display: block;
    margin: 10px auto;
}

.photoInput {
    width: 205px;
}

.photoSaveBtn {
    border: 1px solid black;
    border-radius: 2px;
}